In [1]:
# Patient Data 'provsvar' Data Visualization Interfaces in Python With Plotly

[source](https://dash.plotly.com/datatable/callbacks)

In [2]:
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
from dash import dash_table
import pandas as pd

In [7]:
df = pd.read_csv('../data/provsvar_sept_anonym_122021-Blad11_mal_full_clean.csv')

df.head(3)

,personnummer,provsvarsdate,provsvar1,varde1,bedomning1,provsvar2,varde2,bedomning2,provsvar3,varde3,bedomning3,provsvar4,varde4,bedomning4,provsvar5,varde5,bedomning5,total_bedomning
0,8201113128,22/12/2021,"T4, fritt, P-",13,GRON,"T3, fritt, P-",4.50,GRON,"TSH, P-",1.0,GRON,"ASAT, P-",0.49,GRON,"ALAT, P-",0.64,GRON,GRON
1,8201113131,15/12/2021,"T4, fritt, P-",17,GRON,"T3, P-",0.76,GUL,"TSH, P-",2.8,GRON,"ASAT, P-",0.59,GRON,"ALAT, P-",0.60,GRON,GUL
2,8201113134,14/12/2021,"T4, fritt, P-",16,GRON,"T3, P-",1.10,GRON,"TSH, P-",5.1,GUL,"ASAT, P-",0.40,GRON,"ALAT, P-",0.28,GRON,GRON

In [4]:
df[' index'] = range(1, len(df) + 1)

app = dash.Dash(__name__)

In [5]:
PAGE_SIZE = 5

app.layout = html.Div([
    dash_table.DataTable(
        id='datatable-paging-page-count',
        columns=[
            {"name": i, "id": i} for i in sorted(df.columns)
        ],
        page_current=0,
        page_size=PAGE_SIZE,
        page_action='custom'
    ),
    html.Br(),
    dcc.Checklist(
        id='datatable-use-page-count',
        options=[
            {'label': 'Use page_count', 'value': 'True'}
        ],
        value=['True']
    ),
    'Page count: ',
    dcc.Input(
        id='datatable-page-count',
        type='number',
        min=1,
        max=29,
        value=20
    )
])


@app.callback(
    Output('datatable-paging-page-count', 'data'),
    Input('datatable-paging-page-count', "page_current"),
    Input('datatable-paging-page-count', "page_size"))
def update_table(page_current,page_size):
    return df.iloc[
        page_current*page_size:(page_current+ 1)*page_size
    ].to_dict('records')

@app.callback(
    Output('datatable-paging-page-count', 'page_count'),
    Input('datatable-use-page-count', 'value'),
    Input('datatable-page-count', 'value'))
def update_table(use_page_count, page_count_value):
    if len(use_page_count) == 0 or page_count_value is None:
        return None
    return page_count_value

In [6]:
if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

C:\Users\DSINZ1\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3445: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)